<%- model_class = QnaEngine::Question.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:secret) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.secret %></td>
        <td><%= link_to question.user.try(:nick_name), main_app.admin_user_path(question.user) %></td>
        <td><%= link_to question.title, [:admin, question] %></td>
        <td><%=l question.created_at %></td>
        <td>
          <%= link_to '질문보기', [:admin, question], :class => 'btn btn-mini' %>
          <%= link_to '답변하기', '#', :class => 'btn btn-mini btn-primary' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- 
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_admin_question_path,
            :class => 'btn btn-primary' %>
 -->
