<%- model_class = @question.class -%>
<h1><%=t '.title', :default => model_class.model_name.human %></h1>

<p>
  <strong><%= model_class.human_attribute_name(:user_id) %>:</strong><br>
  <%= link_to @question.user.try(:nick_name), [:admin, @question.user] %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:title) %>:</strong><br>
  <%= @question.title %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:secret) %>:</strong><br>
  <%= @question.secret %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:body) %>:</strong><br>
  <%= simple_format @question.body %>
</p>
<p>
  <strong><%= model_class.human_attribute_name(:secret) %>:</strong><br>
  <%= @question.secret %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_questions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_question_path(@question), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_question_path(@question),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
  <%= link_to '답변하기', [:new, :admin, @question, :answer], class: 'btn btn-info', style: 'float: right;' %>              
</div>


<div class="answer_list_area well">
  <% @question.answers.each do |answer| %>
    <div>
      <h3>답변 내용</h3>
      <div>
        <%= simple_format answer.body %>
        <p>
          <span><%= link_to "수정", [:edit, :admin, @question, answer], class: 'btn btn-mini' %></span>
          <span><%= link_to "삭제", [:admin, @question, answer], class: 'btn btn-mini btn-danger', confirm: '정말로 삭제하시겠습니까?', method: 'delete' %></span>
        </p>
      </div>
    </div>
    <hr>
  <% end %>
</div>
