<%- model_class = QnaEngine::Question.new.class -%>

<div class="page-header">
  <h2><%=t '.title', :default => model_class.model_name.human %></h2>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:body) %></th>
      <th><%= model_class.human_attribute_name(:secret) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.user_id %></td>
        <td><%= question.title %></td>
        <td><%= question.body %></td>
        <td><%= question.secret %></td>
        <td><%=l question.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '질문하기',
            new_question_path,
            :class => 'btn btn-primary' %>
